appdirs==1.4.4
Arpeggio==2.0.0
bleach==5.0.0
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.1.3
commonmark==0.9.1
docutils==0.18.1
future==0.18.2
idna==3.3
importlib-metadata==4.11.4
Jinja2==3.1.2
keyring==23.5.1
MarkupSafe==2.1.1
pkginfo==1.8.2
Pygments==2.12.0
readme-renderer==35.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.4.4
-e git+https://github.com/vlaksi/JSZD-Proj.git@28296d5093c4debe4ec58eaf8d7df0eb17878dc7#egg=scrumlang&subdirectory=scrumlang
six==1.16.0
textX==3.0.0
textX-dev==0.1.5
textX-jinja==0.3.0
textx-lang-questionnaire==0.2.0
twine==4.0.0
urllib3==1.26.9
webencodings==0.5.1
zipp==3.8.0
